.content {
    display: flex;
    /* position: relative; */
    margin: 50px;
}

.banner {
    display: inline-block;
    width: 70%;
    text-align: center;
}

#welcome-back {
    text-align: left;
    margin-bottom: 30px;
}

#banner {
    /* width: 500px; */
    /* height: 570px; */
    text-align: center;
    width: auto;
    height: auto;
    border-radius: 10px;
}

.bestsellers {
    display: inline-block;
    width: 30%;
}

#bestsellers {
    border-collapse: collapse;
    font-size: 25rem;
}

.table-head{
    background-color: #0b421a;
    color: white;
    font-size: 1.5rem;
}

td {
    background-color: beige;
    font-size: 1rem;
}

.table-head > th, td {
    padding: 30px;
}

thead th {
    border-radius: 0.6em 0.6em 0 0;
}

tbody tr:last-child td:last-child {
    border-radius: 0 0 0.6em 0.6em;
}

tbody tr:nth-child(odd) td{
    background-color: rgb(234, 235, 221);
}

tbody tr:nth-child(even) td{
    background-color: rgb(243, 239, 226);
}


