<div class="header py-2">
    <div class="nav-logo">
        <a href="user/admin/home">
            <img class="nav-pic" id="logo" src="/images/logos/logo.png">
        </a>
    </div>

    <div class="nav-actions px-4 py-2">
        <a href="/admin/home" {{#if_equal loc 'Home'}} class="active" {{/if_equal}}>Home</a>
        <!-- <a>View Menu</a> -->
        <a href="/admin/menu/update/espresso" {{#if_equal loc 'Update Menu'}} class="active" {{/if_equal}}>Update Menu</a>
        <a href="/admin/orders/received" {{#if_equal loc 'Update Orders'}} class="active" {{/if_equal}}>Update Orders</a>
    </div>   

    <div class="nav-profile">
        <div class="dropdown admin">
            <a class="btn btn-secondary dropdown-toggle admin" href="#" role="button" id="profileDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="admin-cont">
                    <label>{{user.nickname}}</label>
                </div>
            
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/admin/logout">Log Out</a>
            </div>
        </div>  
    </div>
    
</div>