<div class="header py-2">
        <div class="nav-logo">
            <a href="/">
                <img class="nav-pic" id="logo" src="/images/logos/logo.png">
            </a>
        </div>

        <div class="nav-actions px-4">
        </div>   

        <div class="nav-profile">
            <!-- Button trigger modal -->
             
                {{#if isGeneral}}
                    <a type="button" id="modalBtn" class="btn btn-primary" href="/register"> Register </a> |
                    <a type="button" id="modalBtn" class="btn btn-primary" href="/login"> Log In </a>
                    
                {{else}}
                    <a type="button" id="modalBtn" class="btn btn-primary"
                    {{#with registerOff}}
                        href="/login"> Log In
                    {{else}}
                        href="/register"> Register
                    {{/with}}
                    </a>
                {{/if}}
        </div>    
    </div>