<div class="header py-2">
    <div class="nav-logo">
        <img class="nav-pic" id="logo" src="../images/logos/logo.png">
    </div>

    <div class="nav-actions px-4 py-2">
        <a href="/home-admin" {{#if_equal loc 'Home'}} class="active" {{/if_equal}}>Home</a>
        <!-- <a>View Menu</a> -->
        <a href="update-espresso" {{#if_equal loc 'Update Menu'}} class="active" {{/if_equal}}>Update Menu</a>
        <a href="orders-received" {{#if_equal loc 'Update Orders'}} class="active" {{/if_equal}}>Update Orders</a>
    </div>   

    <div class="nav-profile">
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="profileDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="nav-profpic mr-3">
                <img class="nav-pic" id="nav-prof-pic" src="../images/sample-dp/sample dp.jpg">   
            </div>
            <div class="name-type">
                <label class="name">Sophia</label>
                <label class="type">Admin</label>
            </div>
            
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/">Log Out</a>
            </div>
        </div>  
    </div>
    
</div>