<div class="content">
        <div class="content-left">

            {{#if loggedIn}}
                <h1 id="welcome-back" class="py-3 text-left">Welcome back, <span id="nickname">Sophia</span>!</h1>
            {{/if}}
            
            <div class="slideshow-container">
                <div class="mySlides1">
                    <img class="banner" src="../images/banners/gif1.gif" style="width:100%">
                  </div>
                <div class="mySlides1">
                  <img class="banner" src="../images/banners/gif2.gif" style="width:100%">
                </div>
              
                <div class="mySlides1">
                  <img class="banner" src="../images/banners/amazing-banner.jpg" style="width:100%">
                </div>
              
                <div class="mySlides1">
                  <img class="banner" src="../images/banners/cherry-blossom-banner.jpg" style="width:100%">
                </div>

                <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
                <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
            </div>
        </div>
        <div class="content-right py-3">
            <table id="bestsellers-table">
                <thead>
                    <tr class="table-head">
                        <th>Bestsellers of the Month</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1. <span id="best-1">Java Chip Frappuccino</span></td>
                    </tr>
                    <tr>
                        <td>2. <span id="best-2">Dark Mocha Frappuccino</span></td>
                    </tr>
                    <tr>
                        <td>3. <span id="best-3">Caramel Macchiato</span></td>
                    </tr>
                    <tr>
                        <td>4. <span id="best-4">Java Chip Frappuccino</span></td>
                    </tr>
                    <tr>
                        <td>5. <span id="best-5">Dark Mocha Frappuccino</span></td>
                    </tr>
                </tbody>  
            </table>
        </div>
</div>

{{> footer}}

<script>
    var slideIndex = [1,1];
    var slideId = ["mySlides1", "mySlides2"]
    showSlides(1, 0);
    showSlides(1, 1);
    
    function plusSlides(n, no) {
        showSlides(slideIndex[no] += n, no);
    }
    
    function showSlides(n, no) {
        var i;
        var x = document.getElementsByClassName(slideId[no]);
        if (n > x.length) {slideIndex[no] = 1}    
        if (n < 1) {slideIndex[no] = x.length}
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";  
        }
        x[slideIndex[no]-1].style.display = "block";  
    }
</script>