<div class="order-container">
    <div class="details">
        <div class="left">
            <div class="top">
                <label>Customer Name: <span class="customer-name">{{customerNickname}}</span></label>
                <label>Order #: <span class="order-num">{{orderNum}}</span></label>
            </div>
            <div class="bottom">
                <label>Number of order: <span class="order-quant">{{numOfOrders}}</span></label>
                <a class="details-modal" data-toggle="modal" data-target="#orderDetailsModal">Order Details</a>
            </div>
        </div>
        <div class="right">
            <button class="update-btn">{{buttonLbl}}</button>
        </div>
    </div>
</div>