<div class="order-container">
    <div class="details">
        <div class="left">
            <div class="top">
                <label>Customer Name: <span class="customer-name">{{customerNickname}}</span></label>
                <label>Order #: <span class="order-num">{{orderNum}}</span></label>
            </div>
            <div class="bottom">
                <label>Number of order: <span class="order-quant">{{numOfOrders}}</span></label>
                {{!-- <a class="details-modal" data-toggle="modal" data-target="#orderDetailsModal">Order Details</a> --}}
                <div class="modal-body mr-5 pl-0 pr-5 pt-2">
                    <div class="labeltxt">
                        <hr class="new1">
                        <div class="row font-weight-bolder">
                            <div class="col-sm drink-name">Drinks</div>
                            <div class="col-sm drink-size">Size</div>
                            <div class="col-sm drink-quant">Quantity</div>
                            <div class="col-sm drink-price">Price</div>
                            <div class="col-sm drink-request">Request</div>
                        </div>
                        <hr class="new1">
                        <div class="row">
                            <div class="col-sm drink-name">Java Chip Frappucino</div>
                            <div class="col-sm drink-size">Venti</div>
                            <div class="col-sm drink-quant">3</div>
                            <div class="col-sm drink-price">200</div>
                            <div class="col-sm drink-request"></div>
                        </div>
                        <hr class="new1">
                        <div class="row">
                            <div class="col-sm drink-name">Iced Shaken Hibiscus Tea with Pomegranate Pearls</div>
                            <div class="col-sm drink-size">Grande</div>
                            <div class="col-sm drink-quant">1</div>
                            <div class="col-sm drink-price">155</div>
                            <div class="col-sm drink-request"></div>
                        </div>
                        <hr class="new1">
                        <div class="row">
                            <div class="col-sm drink-name">Caramel Macchiato</div>
                            <div class="col-sm drink-size">Grande</div>
                            <div class="col-sm drink-quant">1</div>
                            <div class="col-sm drink-price">155</div>
                            <div class="col-sm drink-request"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <button class="update-btn">{{buttonLbl}}</button>
        </div>
    </div>
</div>