<div class="content">
        <div class="status">
            <div class="status-container">
                <div class="icon-container active">
                    <img class="icon-status" src="/images/logos/cashier.png">
                </div>
                <div class="icon-desc p-3">
                    <label class="status-lbl active">Order Received</label>
                    <div class="order-list">
                        <label>Order #: <span class="order-num">000011</span></label>
                        <label>Order #: <span class="order-num">000010</span></label>
                    </div>
                    
                </div>
            </div>
            <div class="status-container">
                <div class="icon-container">
                    <img class="icon-status" src="/images/logos/barista.png">
                </div>
                <div class="icon-desc p-3">
                    <label class="status-lbl">Preparing Order</label>
                    <div class="order-list">
                    </div>
                </div>
            </div>
            <div class="status-container">
                <div class="icon-container active">
                    <img class="icon-status" src="/images/logos/coffee-cup.png">
                </div>
                <div class="icon-desc p-3">
                    <label class="status-lbl active">Order Ready</label>
                    <div class="order-list">
                        <label>Order #: <span class="order-num">000009</span></label>
                    </div>
                </div>
            </div>
            
        </div>
        
</div>

    {{> footer}}