.content {
    width: auto;
    display:flex;
    flex-direction: row;
    margin: 50px;
    justify-content: center;
    min-height: 70vh;
    height: fit-content;
    /* align-items: center; */
    flex-wrap: wrap;
    padding: 50px 200px;
    /* font-size: 14pt; */
}

#dp {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 25px;
}

#image{
    /* margin:10px 80px;
    padding :20px; */
    display: flex;
    width: auto;
    /* margin-right:20px; */
    flex-direction: column;
    vertical-align: top;
    text-align: center;
}

#edit{
    height: auto;
    width: auto;
    padding: 5px 0px;
    text-align: center;
    margin-top: 25px;
    border-radius: 20px;
    background-color: #0b421a;
    color: white;
}

#savebtn{
    height: auto;
    width: 100px;
    margin: 40px;
    padding: 5px;
    margin-bottom: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 200px;
    border-radius: 15px;
    background-color: #0b421a;
    color: white;
}

#save {
    justify-content: center;
    display: flex;
}

.editform {
    width: auto;
    text-align: left;
}

.editform .label{
    color:#0b421a;
    font-weight: 700;
    text-align: right;
    padding-right: 10px;
}

.editform .inputbox{
    border-radius: 10px;
    width: 270px;
    margin : 20px;
    padding-left: 5px;
}

.input{
    text-align: right;
}

#formAcc {
    display: flex;
    flex-direction: row;
}

#left {
    width: 30%;
    text-align: center;
}

#right {
    width: 70%;
}

#displayPhoto {
    text-align: center;
    width: auto;
}