.content {
    min-height: 80vh;
}

#transaction{
    border: none;
    margin-left:auto; 
    margin-right:auto;
    text-align: center;
    border-collapse:separate; 
    border-spacing: 80px 0;
}

.drink{
    text-align:left;
}

table, td, th{
    padding: 10px 0px;
    font-size: 14pt;
}

.content{
    padding: 50px 10px;
    margin: 20px;
}

h2 {
    padding-bottom: 20px;
}