@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|PT+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    /* position: fixed;
    width: 100%; */
    /* padding: 5px; */
    color: white;
    vertical-align: middle;
    background-color: #0b421a;
    height: 65px;
    justify-content: center;
    justify-content: space-between;
}

.nav-logo {
    vertical-align: middle;
    display: table;
    margin-left: 30px;
}

.nav-pic {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.nav-actions {
    vertical-align: middle;
    display: table;
    flex-grow: 1;
    text-align: center;
    height: 100%;
}

.nav-actions > a {
    font-family: "Lato";
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12pt;
    text-decoration: none;
    display: table-cell;
    width: 20%;
    height: 100%;
    text-align: center;
    color:white;
    vertical-align: middle;
    cursor: pointer;
}

.nav-actions > a.active {
    color: white;
    font-weight: 1000;
    font-size: 13pt;
    letter-spacing: 3px;
}

.nav-actions > a:hover:not(.active) {
    /* font-size: 1rem; */
    background-position: left center;
    font-size: 14pt;
    color: #efd271;
    transition: background-position 2000ms ease-out;
}

.dropdown {
    display: flex;
    vertical-align: middle;
    cursor: pointer;
    /* padding: 2px; */
}

.dropdown-toggle.admin {
    height: 100%;
    text-align:center;
    vertical-align:middle; 
    display:table-cell;
    width: 160px;
    text-align: right;
    padding: 0px 1.5rem;
}

.dropdown.admin {
    text-align:center;
    vertical-align:middle; 
    display:table-cell;
    height: 100%;
    cursor: pointer;
    
    /* padding: 2px; */
}

.dropdown.admin > div.dropdown-menu.show {
    margin: 0;
}

.admin-cont {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 0.5rem;
}

.nav-profile {
    line-height: 40px;
    display: table;
    height: 100%;
    vertical-align: middle;
    /* padding: 0.5% 0; */
    margin-right: 60px;
}

.nav-profile + a{
    padding: 0;
    
    vertical-align: middle;
    /* line-height: 3rem; */
}

.nav-profpic {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.name-type {
    display: inline-block;
    margin: 0;
    cursor: pointer;
}

.name-type .name{
    display: block;
    margin: 0;
    cursor: pointer;
}

.name-type .type{
    display: block;
    text-transform: uppercase;
    font-family: "PT Sans";
    font-size: small;
    color: rgb(221, 219, 219);
    margin: 0;
    cursor: pointer;
    /* text-transform: uppercase; */
}

a#profileDropDown.btn.btn-secondary.dropdown-toggle {
    box-shadow: none;
    cursor: pointer;
}

#profileDropDown {
    cursor: pointer;
    background-color: #0b421a;
    border: none;
    padding: 0;
}

#modalBtn {
    background-color: transparent;
    vertical-align: middle;
    font-family: "Lato";
    border: none;
    cursor: pointer;
}

.modal-body.home {
    padding: 1rem 3rem;
}

.modal-content {
    color: black;
}

.modal-content input {
    border-radius: 10px;
}

.dropdown-show {
    width: 160px;
}

.dropdown-menu {
    margin-right: 50px;
    text-align: right;
    background-color: #0b421a;
    color: white;
    border-color: #0b421a;
    border-bottom-color: #0e5021;
    
    border-radius: 0px 0px 10px 10px;
}

a.dropdown-item {
    color: white;
    height: auto;
    line-height: 30px;
}

.dropdown-item:hover {
    background-color: #efd271;
}

.input-label {
    width: 110px;
    padding-right: 5px;
    text-align: right;
}

#register-btn {
    background-color: gray;
    color: white;
}

#login-btn {
    background-color: #0b421a;
    color: white;
}

.footer {
    display: flex;
    flex-direction: row;
    padding: 50px 0;
    background-color: #0b421a;
    color: 	white;
    min-height: fit-content;
    vertical-align: middle;
}

.footer-heading {
    display: block;
    height: auto;
}

.left-footer {
    display: block;
    width: 90%;
}

.right-footer{
    display: block;
    width: 10%;
    text-align: center;
}

.contact-details {
    display: inline-block;
    color: white;}

.word-logo {
    display: inline-block;
    text-align: center;
}

.sb-word {
    height: 200px;
}

.input-home input {
    height: 30px;
    padding-left: 5px;
}