<div class="content">
        <div id="image"> 
            <img id="dp" src="/images/uploads/default.png">   
                <button id="edit">Change Photo</button>
            <input id="fileUpload" type="file" style="display: none;"></input>
        </div>
        <div class = "editform">
        <form>
            <div class ="input">
                <label class="label">Name:</label>
                <input class = "inputbox" name = "name" type="text" id="name" value="{{user.fullname}}"></input> 
            </div>
            <div class ="input">
                <label class="label">Nickname:</label>
                <input class = "inputbox" name = "nickname" type="text" id="nickname" value="{{user.nickname}}"></input> 
            </div>
            <div class ="input">
                <label class="label">Email Address:</label>
                <input class = "inputbox" name = "email" type="email" id="email" value="{{user.emailAddress}}"></input> 
            </div>
            <div class ="input">
                <label class="label">Phone Number:</label>
                <input class = "inputbox" name = "phone" type="tel" id="phone" value="{{user.phone}}"></input> 
            </div>
            <div class ="input">
                <label class="label">Change Password:</label>
                <input class = "inputbox" name = "pass1" type="password" id="pass1" ></input> 
            </div>
            <div class ="input">
                <label class="label">Re-type Password:</label>
                <input class = "inputbox" name = "pass2" type="password" id="pass2"></input> 
            </div>
        </form>

        <div id="save">
            <button type='submit' id="savebtn">Save</button>
        </div>
    </div> 

    </div>

    {{> footer}}

    <script>
        $("#pass1").val("********");
        $("#pass2").val("********");
    </script>
