<div class="footer pl-5">
    <div class="left-footer">
        <div class="footer-heading">
            <h3>Contact Us</h3>
        </div>
        <div class="contact-details pt-2 pl-5">
            Email Address: starbucks_assist@gmail.com <br>
            Mobile Number: 0917 123 6543 <br>
            Telephone Number: 321 6351
        </div>
    </div>
    <div class="right-footer">
        <div class="word-logo">
            <img class="sb-word" src="/images/logos/starbucks-word-white.png">
        </div>
    </div>  
</div>