* {
    margin: 0;
}

header {
    display: flex;
    padding: 0;
    text-align: center;
    height: 60px; 
    background-color: #0b421a;
}

.nav-pic {
    width: 40px;
    height: 40px;
}

.nav-logo {
    display: inline-block;
    width: auto;
}

.nav-actions {
    display: inline-block;
    width: 80%;
    list-style: none;
    color: white;
    zoom: 1;
    text-align: center;
}

a {
    cursor: pointer;
}

.nav-actions > a {
    display: inline-block;
    width: 20%;
    text-align: center;
    text-decoration: none;
}

.nav-actions > a:hover {
    color: antiquewhite;
    font-weight: 500;
    letter-spacing: 3px;
}

.nav-actions > a.active {
    font-weight: 800;
}

.nav-profile {
    display: inline-block;
    width: auto;
    text-align: right;
    color: antiquewhite;
    right: 0;
}

#nav-prof-pic {
    border-radius: 50px;
}

#register-login {
    background: none; 
    border: none; 
    color:antiquewhite;
    text-align: center;
}

.footer {
    background-color: #362415;
    color: 	#eac784;
    height: 300px;
}